<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Constellation Matching</title>

<!--    <script src="script.js"></script>-->
    <link href="{{ url_for('static', path='/welcome.css') }}" rel="stylesheet">
</head>
<body>
    <h1>WELCOME TO THE "Matching" by STAR SIGN</h1>
    <button onclick="location.href='http://localhost:8000/login'">Login with Keycloak</button>
    <!-- {% if user_id != None %}
    <button onclick="location.href='http://localhost:8000/user/{{ user_id }}'">me</button>
    {% endif %} -->
</body>
</html>